<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云笔记</title>
</head>
<body>
<table>
    <tr>
        <td>ID</td>
        <td>标题</td>
        <td>创建时间</td>
        <td>修改时间</td>
        <td>修改</td>
        <td>删除</td>
    </tr>
    {% for note in notes %}
    <tr>
        <th>{{ user.id }}</th>
        <th>{{ note.title }}</th>
        <th>{{ note.create_time }}</th>
        <th>{{ note.update_time }}</th>
        <th><a href="/note/mod/{{ uid }}">修改</a></th>
        <th><a href="/note/del/{{ uid }}">删除</a></th>
    </tr>
    {% endfor %}
</table>
</body>
</html>